.card-slide-item {
  &.disabled {
    display: none;
  }
  &.enabled {
    display: block;
  }
  .card {
    .card-header {
      display: flex;
      padding: 15px;
      width: 100%;
      border-bottom: solid 1px #e2e5ef;
      align-items: flex-end;
      line-height: 115%;
      background-color: #363636;

      .card-header-title {
        font-weight: bold;
        text-transform: capitalize;
        font-size: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        overflow-wrap: break-word;
        margin: auto;
      }
    }
    .card-body {
      padding: 35px 25px 15px 25px;
      .card-body-description {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        color: #aeb3b7;
      }
      .card-body-total {
        font-weight: 600;
        font-size: 4rem;
      }
      .card-body-graph {

      }
    }
  }
  .img-fluid {
    width: 50%;
    height: auto;
    float: left;

  }
}

.leftbox {
  float:left;
  width:32%;
  height:280px;
}
.middlebox{
  float: left;
  width:30%;
  height:280px;
}
.rightbox{
  float:right;
  width:30%;
  height:280px;
}

.ratings{
  text-align: right;
  justify-content: right;
  margin: auto;
}

.author{
  font-size: small;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-style: italic;
  font-weight: bold;
  color: white;
}

.steps{
  text-align: center;
  justify-content: center;
  margin: auto;
}

.scroller2 {
  margin: auto;
  height: 280px;
  width: fit-content;
  overflow: auto;
  font-size: 0;
}

.step {
  color: darkblue;
  font-size: large;
  display: flex;
  border-bottom: white;
  text-align: left;
  margin: auto;
  font-weight: bold;
}

.nutrition_table{
  justify-content: center;
  margin: auto;
}

.url-text {
  font-family: Roboto-Medium, serif;
  font-size: medium;
  color: white;
  text-decoration: none;
}

.url-text:hover {
  color: lightskyblue;
  text-decoration: none;
  font-size: large;
}
