<html lang= "en>">
<body>


<div class="search-ingredients">
    <form action="/" method="POST">
        <label for="body">Enter Ingredients</label>
        <textarea id="body" name="body" required></textarea>
        <button>Submit</button>
    </form>
</div>


</body>
<html>